<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Police Watch</title>
    <link rel=icon href='../favicon.ico' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    </head>
  <section class="hero is-dark">
  <div class="hero-body">
    <div class="hero-container">
      <h1 class="title">
        PoliceWatch
      </h1>
      <h2 class="subtitle">
        Visualizing Officer-Involved Deaths (2015-2016)
      </h2>
    </div>
  </div>
</section>
<nav class="breadcrumb" aria-label="breadcrumbs">
<ul>
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Resources</a></li>
</ul>
</nav>
  <body>
    <div class='container is-fluid'>
      <%- body %>
    </div>
    </body>
  <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>PoliceWatch</strong> by <a href="http://github.com/joel-g">Joel Guerra</a> and
        <a href="http://github.com/knweber">Kris Weber</a>
      </p>
      <p class="source-link">
        <a href="http://github.com/knweber/policewatch">View Source on GitHub</a>
      </p>
      <p>
        <a class="icon" href="https://github.com/knweber/policewatch">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
</html>
