body {
  margin: 20px;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.breadcrumb {
  margin-top: 10px;
  font-size: 1.2rem;
}

.hero-body {
  padding-left: 0;
  padding-right: 0;
}

.subtitle {
  padding-top: 4px;
  font-size: 1.3rem;
}

.hero-container {
  padding-left: 20px;
  padding-right: 20px;
}

.source-link {
  margin-top: 20px;
}

.footer {
  padding-bottom: 3em;
  margin-top: 1em;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map_canvas {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
}
