<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class='page-container'>
      <h1 class='title'>About</h1>
      <p>
      PolieWatch was created to spread awareness about officer-involved civilian deaths in the US, an issue that has become increasingly prevalent over the past several years. We hope that, by increasing the public's knowledge of these events, we can help to drive greater police accountability and discussions on the relationship between law enforcement and minority communities.
    </p>
    </div>
  </body>
</html>
