<script src='https://maps.googleapis.com/maps/api/js?&key=AIzaSyC0sms3G6JLE0cwM9wsF3Mz1G0u43UqrZI'></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
<script src="/js/app.js"></script>
<h4>Filter by Race<h4>
<form>
  <div>
    <input type="checkbox" id="white-filter" name="race">
    <label for="white-filter">White</label>
  </div>
  <div>
    <input type="checkbox" id="black-filter" name="race">
    <label for="black-filter">Black</label>
  </div>
  <div>
    <input type="checkbox" id="hispanic-filter" name="race">
    <label for="hispanic-filter">Hispanic/Latino</label>
  </div>
  <div>
    <input type="checkbox" id="native-filter" name="race">
    <label for="native-filter">Native American</label>
  </div>
  <div>
    <input type="checkbox" id="asian-filter" name="race">
    <label for="asian-filter">Asian/Pacific Islander</label>
  </div>
</form>
<div id="map_canvas"></div>
