<div class="columns is-mobile is-centered is-multiline">
  <div class="column">
    <p></p>
  </div>
  <div class="column is-three-quarters is-centered">
    <p class="is-info is-centered">
      <div id='map'>

      </div>
    </p>
  </div>
  <div class="column">
    <p></p>
  </div>
</div>
