<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class='page-container'>
    <h1 class='title'>Resources</h1>
      <p>PoliceWatch was created using data provided by <a href='https://www.theguardian.com/us-news/ng-interactive/2015/jun/01/about-the-counted'>The Guardian</a> and mapping technology by <a href='https://developers.google.com/maps/'>Google</a>. PoliceWatch is written in Javascript within the <a href='https://expressjs.com/'>Express.js</a> framework and hosted on Heroku.</p><br>
      <p>To learn more about a particular incident, click on the incident's marker on the map.</p>
    </div>
  </body>
</html>
